[submodule "src_xplatform/sop"]
	path = src_xplatform/sop
	url = git@github.com:cfogelklou/sweet_osal_platform.git
[submodule "Superpowered"]
	path = Superpowered
	url = https://github.com/superpoweredSDK/Low-Latency-Android-iOS-Linux-Windows-tvOS-macOS-Interactive-Audio-Platform.git
